$darkBlue: hsl(217, 28%, 15%);
$darkBlueMainBackground: hsl(218, 28%, 13%);
$darkBlueFooterBackground: hsl(216, 53%, 9%);
$darkBlueTestimonialsBackground: hsl(219, 30%, 18%);
$cyanInsideCall-to-actionGradient: hsl(176, 68%, 64%);
$blueInsideCall-to-actionGradient: hsl(198, 60%, 50%);
$lightRedError: hsl(0, 100%, 63%);
$white: hsl(0, 0%, 100%);
$Red: hsl(1, 90%, 64%);
$Blue: hsl(219, 85%, 26%);
$VeryLightGrayishBlue: hsl(210, 60%, 98%);
$LightGrayishBlue1: hsl(211, 68%, 94%);
$LightGrayishBlue2: hsl(205, 33%, 90%);
$GrayishBlue: hsl(219, 14%, 63%);
$DarkGrayishBlue: hsl(219, 12%, 42%);
$VeryDarkBlue: hsl(224, 21%, 14%);
